<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Loja ADS - {% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
</head>
<body>
    <header class="container pico-background-jade-650">
        <nav>
            <ul>
                <li>
                    <strong><h1 class="pico-color-jade-50">
                        <a href="{% url 'home' %}">🏬</a> Loja ADS
                    </h1></strong>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="{% url 'listarprodutos' %}" class="pico-color-jade-50">Produtos</a>
                </li>
                <li>
                    <a href="" class="pico-color-jade-50">Sobre&nbsp;&nbsp;&nbsp;</a>
                </li>
                <li>
                    <a href="{% url 'vercarrinho' %}" class="pico-color-jade-50">
                        🛒<span>{{ carrinho|length }} itens</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container">
        {% block conteudo %}
        {% endblock %}
    </main>
</body>
</html>