<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>Loja ADS - {% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
</head>
<body>
<header class="container pico-background-jade-650">
    <nav>
        <ul>
            <li>
                <strong><h1 class="pico-color-jade-50">
                    <a href="{% url 'home' %}">🏬</a> {% trans 'Loja ADS' %}
                </h1></strong>
            </li>
        </ul>
        <ul>
            {% if request.user.is_authenticated %}
            <li>
                <details class="dropdown">
                    <summary>
                        {{ request.user.first_name }}
                    </summary>
                    <ul dir="rtl">
                        <li><a href="{% url 'meuspedidos' %}" role="button" class="outline">
                            {% trans 'Meus Pedidos' %}
                        </a></li>
                        <li>
                            <form action="{% url 'logoutuser' %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" role="button"
                                       class="outline" value="Logout">
                            </form>
                        </li>
                    </ul>
                </details>
            </li>
            {% else %}
            <li>
                <details class="dropdown">
                    <summary>
                        {% trans 'Comece aqui' %}
                    </summary>
                    <ul dir="rtl">
                        <li><a href="{% url 'loginuser' %}"
                               role="button" class="outline">{% trans 'Entre' %}</a></li>
                        <li><a href="{% url 'cadusuario' %}"
                                role="button" class="outline">{% trans 'Cadastre-se' %}</a></li>
                    </ul>
                </details>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'listarprodutos' %}" class="pico-color-jade-50">{% trans 'Produtos' %}</a>
            </li>
            <li>
                <a href="" class="pico-color-jade-50">{% trans 'Sobre' %}&nbsp;&nbsp;&nbsp;</a>
            </li>
            <li>
                <a href="{% url 'vercarrinho' %}" class="pico-color-jade-50">
                    🛒<span>{{ carrinho|length }} itens</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<main class="container">
    {% block conteudo %}
    {% endblock %}
</main>
{% block scripts %}{% endblock %}
</body>
</html>