{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block titulo %} {% trans 'Catalogo de Produtos' %} {% endblock %}

{% block conteudo %}
    <article>
        <h2>{% translate 'A melhor Loja de' %} <br>{% trans 'Produtos de Informática da Web' %}!</h2>
        <h4>{% translate 'Aproveite nossas ofertas' %}!</h4>
    </article>
    <article class="grid">
    {% for p in prods %}
        <div>
            <a href="{% url 'detalheproduto' p.slug %}">
            <img src="{% if p.imagem %}
                         {{ p.imagem.url }}
                      {% else %}
                         {% static 'imagens/naodisp.png' %}
                      {% endif %}" alt="imagem de {{ p.nome }}">
            </a>
            <p>{{ p.nome }} - R${{ p.preco }}</p>
        </div>
    {% endfor %}
    </article>
{% endblock %}
