{% extends 'base.html' %}
{% load static %}

{% block titulo %}Processar Pagamento{% endblock %}

{% block conteudo %}
<article>
    <div class="form-container">
        <header>
            <h1>Pagamento com Cartão</h1>
        </header>

        <form id="my-sample-form" class="scale-down" method="POST">
            {% csrf_token %}
            <div class="cardinfo-card-number">
                <label class="cardinfo-label" for="card-number">Número do Cartão</label>
                <div class='input-wrapper' id="card-number"></div>
            </div>

            <div class="cardinfo-wrapper">
                <div class="cardinfo-exp-date">
                    <label class="cardinfo-label" for="expiration-date">Válido até</label>
                    <div class='input-wrapper' id="expiration-date"></div>
                </div>

                <div class="cardinfo-cvv">
                    <label class="cardinfo-label" for="cvv">CVV</label>
                    <div class='input-wrapper' id="cvv"></div>
                </div>
            </div>
            {{ form.payment_method_nonce }}

        <input id="button-pay" type="submit" value="Pagar"/>
            </form>
        <input type="hidden" id="client_token" value="{{ braintree_client_token }}">
    </div>
</article>
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
<script src="https://js.braintreegateway.com/web/3.139.0/js/client.min.js"></script>
<!-- adicionei .js no final do link abaixo -->
<script src="https://js.braintreegateway.com/web/3.139.0/js/hosted-fields.min.js"></script>
<script src="{% static 'scripts/braintreepagamento.js' %}"></script>
{% endblock %}
