{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block titulo %} Resumo do Pedido {{ pedido.id }}{% endblock %}

{% block conteudo %}
<article>
    <header>
        <h1>{% trans 'Obrigado por comprar conosco' %}!</h1>
    </header>
    <table class="stripped">
        <thead data-theme="dark">
        <tr>
            <th>{% trans 'Imagem' %}</th>
            <th style="width:50%">{% trans 'Nome' %}</th>
            <th>{% trans 'Quant' %}</th>
            <th>{% trans 'Preço Unit' %}</th>
            <th>{% trans 'Total' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in pedido.itens_pedido.all %}
            {% with p=item.produto %}
            <tr>
                <td>
                    <a href="{% url 'detalheproduto' p.slug %}">
                    <img src="{% if p.imagem %}
                                {{ p.imagem.url }}
                              {% else %}
                                {% static 'imagens/naodisp.png' %}
                              {% endif %}"
                        alt="imagem de {{ p.nome }}"
                        width="100"
                    >
                    </a>
                </td>
                <td>
                    {{ p.nome }}
                </td>
                <td>
                    {{ item.quantidade }}
                </td>
                <td>R${{ item.preco }}</td>
                <td>R${{ item.valor_total }}</td>
            </tr>
            {% endwith %}
        {% endfor %}
        <tr>
            <td colspan="4"><strong>{% trans 'Total Geral' %}</strong></td>
            <td colspan="1">R$ {{ pedido.get_total_geral }}</td>
        </tr>
        </tbody>
    </table>
    <div class="grid">
        <a href="{% url 'listarprodutos' %}" role="button"
           class="pico-background-jade-650">
            {% trans 'Continuar comprando' %} ...
        </a>
        {% if not pedido.pago %}
        <a href="{% url 'processar_pgto' pedido.id %}" role="button" class="primary">
            {% trans 'Efetuar Pagamento' %}.
        </a>
        {% endif %}
    </div>

</article>

{% endblock %}